<!DOCTYPE html>
{% extends "app/blog/base.html" %}
{% block content %}
<div class="container-fluid bg-light p-5">
    <h1>About Us</h1>
    <div class="about-section text-primary"  >
    <p class="lead">Welcome to our blog! We are a passionate team of writers dedicated to sharing valuable insights and knowledge. Our mission is to provide high-quality content that informs, inspires, and engages our readers.</p>
    <p>Whether you're looking for practical advice, thought-provoking discussions, or simply some entertainment, we've got you covered. Join us on this journey of exploration and discovery.</p>
    <p>Thanks for checking it out!</p> 
</div>
    
</div>
{% endblock %}